#whole div {
	border: 1px solid black;
	height: 100%;
	float: left;
	padding: 20px;
}

#whole {
	height: 100%;
}

div#left, div#right {
	width: 15%;
}

div#center {
	width: 70%;
}

body, html {
	height: 100%
}